.home-section-container {   
    max-width: 950px;
    margin: 0 auto;
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-repos-container {
    padding: 0 65px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.show-number-container {
    margin-left: 70px;
    align-self: flex-start;
    margin-top: 118px;
}

.show-number-text {
    font-size: 18px;
    display: inline-block;
}

#content-number {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 17px;
    width: 56px;
    height: 36px;
}